{% extends 'base.html.twig' %}

{% block title %}Restablecer tu contrase침a{% endblock %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/stylehome.css') }}">
    {% endblock %}
{% endblock %}

{% block body %}
<div class="container-fluid p-0 m-0 bg-image d-flex flex-column justify-content-center align-items-center min-vh-100">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Restablecer contrase침a</h1>

    {{ form_start(requestForm) }}
        <div class="text-center ">
        {{ form_row(requestForm.email) }}
        
        <div class="mb-3">
            <small class="fw-bold">
                Ingresa tu direcci칩n de correo electr칩nico 
            </small>
        </div>

        <button class="btn btn-primary">Enviar</button>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
