{% extends 'base.html.twig' %}

{% block title %}Hitos{% endblock %}

{% block body %}
    <h1>Hitos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hito.id }}</td>
            </tr>
            <tr>
                <th>Fk_resumen</th>
                <td>{{ hito.fkResumen }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hito.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hitos_index') }}">back to list</a>

    <a href="{{ path('app_hitos_edit', {'id': hito.id}) }}">edit</a>

    {{ include('hitos/_delete_form.html.twig') }}
{% endblock %}
