{% extends 'base.html.twig' %}

{% block title %}Seguidores rrss{% endblock %}

{% block body %}
<div class="container my-3">
    <h1>Seguidores en rrss</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seguidores_rrss in seguidores_rrsses %}
            <tr>
                <td>{{ seguidores_rrss.id }}</td>
                <td>{{ seguidores_rrss.cantidad }}</td>
                <td>
                    <a href="{{ path('app_seguidores_rrss_show', {'id': seguidores_rrss.id}) }}">mostrar |</a>
                    <a href="{{ path('app_seguidores_rrss_edit', {'id': seguidores_rrss.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seguidores_rrss_new') }}">Añadir datos</a><br>
    <a class="btn btn-success btn-lg mt-4" href="{{ path('app_client_home') }}">Volver al panel</a>
    </div>
{% endblock %}
