{% extends 'base.html.twig' %}

{% block title %}Voluntarios index{% endblock %}

{% block body %}
    <h1>Voluntarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voluntario in voluntarios %}
            <tr>
                <td>{{ voluntario.id }}</td>
                <td>{{ voluntario.cantidad }}</td>
                <td>
                    <a href="{{ path('app_voluntarios_show', {'id': voluntario.id}) }}">show</a>
                    <a href="{{ path('app_voluntarios_edit', {'id': voluntario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voluntarios_new') }}">Create new</a>
{% endblock %}
