{% extends 'base.html.twig' %}

{% block title %}Voluntarios index{% endblock %}

{% block body %}
<div class="container my-3">
    <h1>Voluntarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voluntario in voluntarios %}
            <tr>
                <td>{{ voluntario.id }}</td>
                <td>{{ voluntario.cantidad }}</td>
                <td>
                    <a href="{{ path('app_voluntarios_show', {'id': voluntario.id}) }}">mostrar |</a>
                    <a href="{{ path('app_voluntarios_edit', {'id': voluntario.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voluntarios_new') }}">Añadir datos</a>
    <br>
    <a class="btn btn-success btn-lg mt-4" href="{{ path('app_client_home') }}">Volver al panel</a>
</div>
{% endblock %}
